/* NOTES
margin: top right bottom left
font: font-style font-variant font-weight font-size/line-height font-family
*/

/* NAVIGATION MENU*/
#bar {
  background-color: rgb(10,10,10);
  opacity: 0.5;
  z-index: 3;
  width: 100%;
  height: 77px;
  position: fixed;
  top: 0;
}
#eh:hover ~ #bar {
  height: 100px;
}

#navi {
  position: fixed;
  right: 30px;
  top: 17px;
  z-index: 4;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  color: rgb(220, 220, 220);
}

ul {
  font-size: 10pt;
  font-family: 'Raleway', sans-serif;
  list-style-type: none;
  letter-spacing: 1px;
}

li {
  display: inline;
  padding: 0 15px 0 15px;
  transition: color .3s;
  -moz-transition: color .3s;
  -webkit-transition: color .3s;
}

li:hover, li:active {
  color: #ffa000;
}

ul#drop {
  position: absolute;
  right: 95px;
  visibility: hidden;
  z-index: 4;
  opacity: 0;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  width: 70px;
  height: 100px;
  padding: 3px 0 0 0;
  margin: 0;
  list-style: none;
  color: rgb(220, 220, 220);
  line-height: 15px;
}

#eh:hover #drop {
  visibility: visible;
  opacity: 1;
  line-height: 25px;
}

#dropbg {
  background-color: rgb(10,10,10);
  opacity: 0.5;
}

#logo {
  display: inline;
  height: auto;
  width: 80px;
  position: fixed;
  left: 38px;
  top: 15px;
  z-index: 4;
  transition: color .3s;
  -moz-transition: color .3s;
  -webkit-transition: color .3s;
  fill: #ffa000;
}

#logo:hover {
  fill: #ffa000;
}
/* NAVIGATION */

/* GENERAL */
/*stroke my*/ body {
  background-color: rgb(10, 10, 10);
  padding: 0;
  margin: 0;
  height: 100%;
  width: 1180px;
  scroll-behavior: smooth;
  display: table-cell;
  vertical-align: middle;
  overflow-x: hidden;
}

html {
  display: table;
  margin: auto;
}

hr {
  width: 1000px;
  margin: 20px 0 0 90px;
  border-top: none;
  border-left: none;
  border-right: none;
}

h1 {
  color: rgb(220, 220, 220);
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  font-size: 30pt;
}

a {
  color: inherit;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
}

* {
  scroll-behavior: smooth;
}

p {
  color: rgb(220, 220, 220);
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
}

#box1, #box2, #box3, #box4 {
  scroll-behavior: smooth;
}

#welcome {
}

#smol {
  float: left;
  width: 470px;
  position: relative;
  left: 625px;
  top: -70px;
}

#name {
  font-size: 56px;
  margin: 60px 0 0 90px;
}

#yellow {
  position: relative;
  top: 50px;
  left: 90px;
  z-index: 1;
}

#print {
  position: relative;
  top: -30px;
}

.works {
  margin: 100px 0 -30px 90px;
  font-size: 36px;
}

.box1 {
  float: left;
  background-color: black;
  display: flex;
  align-items: center;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
/*
.box1:hover {
  outline: 12px solid #de6318;
  outline-offset: -12px;
  opacity: 0.1;
} */

.bg {
  background-color: rgb(10,10,10);
  height: 101%;
  width: 101%;
  opacity: 0;
  z-index: 1;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}

.box2 {
  opacity: 0;
  position: absolute;
  z-index: 2;
  font-size: 21pt;
  line-height: 21pt;
  width: 490px;
  text-align: center;
  transition: color ease 0.3s, opacity ease 0.3s;
  -webkit-transition: color ease 0.3s, opacity ease 0.3s;
}

.box2:hover {
  color: #ffbd4d;
}

.italia {
  font-size: 12pt;
  font-style: italic;
  font-weight: 300;
  transition: color ease 0.3s, opacity ease 0.3s;
  -webkit-transition: color ease 0.3s, opacity ease 0.3s;
}

.box1:hover > .bg {
  opacity: 0.9;
}

.box1:hover > .box2 {
  opacity: 1;
}

#print1 {
  background: url("images/edge.png") top;
  background-size: cover;
  width: 490px;
  height: 690px;
  margin-left: 90px;
  margin-top: 20px;
  margin-bottom: 50px;
}

#print2 {
  background: url("images/cover.jpg") no-repeat;
  background-size: cover;
  width: 490px;
  height: 320px;
  margin-left: 20px;
  margin-top: 20px;
}

#print3 {
  background: url("images/open.jpg") center;
  background-size: cover;
  height: 350px;
  width: 490px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

#print3:hover > #printy2 {
  opacity: 1;
}

#web1 {
  background: url("images/site.jpg") center;
  background-size: cover;
  height: 360px;
  width: 490px;
  margin-left: 90px;
  margin-top: 20px;
  margin-bottom: 0;
}

#web2 {
  background: url("images/jotaro.gif") center;
  background-size: cover;
  height: 360px;
  width: 490px;
  margin-left: 20px;
  margin-top: 20px;
}

#web3 {
  background: url("images/proposal.jpg") center no-repeat;
  background-size: cover;
  height: 360px;
  width: 490px;
  margin-left: 90px;
  margin-top: 20px;
  margin-bottom: 50px;
}

#web4 {
  background: url("images/proposal.jpg") center no-repeat;
  background-size: cover;
  height: 360px;
  width: 490px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

#film {
  background: url("images/fava.gif") center no-repeat;
  background-size: cover;
  height: 320px;
  width: 490px;
  margin-left: 90px;
  margin-top: 20px;
}

#film0 {
  background: url("images/skate.gif") center no-repeat;
  background-size: cover;
  height: 320px;
  width: 490px;
  margin-left: 20px;
  margin-top: 20px;
}

#film1 {
  background: url("images/step.gif") center no-repeat;
  background-size: cover;
  height: 320px;
  width: 490px;
  margin-left: 90px;
  margin-top: 20px;
}

#film2 {
  background: url("images/wash.gif") center no-repeat;
  background-size: cover;
  height: 320px;
  width: 490px;
  margin-left: 20px;
  margin-top: 20px;
}

#film3 {
  background: url("images/bus.gif") center no-repeat;
  background-size: cover;
  height: 320px;
  width: 490px;
  margin-left: 90px;
  margin-top: 20px;
}

#film4 {
  background: url("images/pray.gif") center no-repeat;
  background-size: cover;
  height: 320px;
  width: 490px;
  margin-left: 20px;
  margin-top: 20px;
}

#film5 {
  background: url("images/pano.jpg") center no-repeat;
  background-size: 130%;
  height: 340px;
  width: 1000px;
  margin-left: 90px;
  margin-top: 20px;
  margin-bottom: 50px;
}

/*END OF INDEX*/


/*OPEN HOUSE*/

.headerwrap {
  width: 1000px;
  padding-left: 90px;
  clear: both;
}

h1.title {
  width: 50%;
  height: auto;
  float: left;
  vertical-align: top;
  margin: 10px 0 0 0;
  padding: 0;
}

p.descr {
  width: 50%;
  height: auto;
  float: left;
  margin: 0;
  padding: 20px 0 0 0;
}

.picwrap {
  margin: 0;
  padding: 0;
  height: auto;
  width: 490px;
}

.imgwrap {
  display: table;
  float: left;
  height: auto;
}

.picwrap1 {
  padding: 0;
  margin: 0;
  height: auto;
  width: 420px;
  display: table-cell;
}

.picwrap2 {
  padding: 20px 0 0 20px;
  margin: 0;
  height: auto;
  width: 560px;
  display: table-cell;
}

.pic {
  padding: 20px 0 0 90px;
}

p.caption {
  color: rgb(220, 220, 220);
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  padding: 0 0 0 90px;
  margin: 0;
}

hr#contactnow {
  margin-bottom: 0;
}

#contactme {
  float: left;
  height: 300px;
  width: 1000px;
  margin-left: 90px;
  margin-top: 100px;
  margin-bottom: 75px;
  border: 1px solid rgb(220,220,200);
}

h1#contactext {
  font-size: 32pt;
  text-align: center;
  margin-top: 50px;
}

p#contacttext {
  text-align: center;
  font-size: 14pt;
  font-weight: 300;
}

#contabutton {
  background: none;
  border: 1px solid rgb(220,220,200);
  color: rgb(220, 220, 220);
  font-family: 'Raleway', sans-serif;
  font-size: 10pt;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
  transition: all ease 0.3s;
}

#contabutton:hover {
  background: rgb(220,220,220);
  color: rgb(10,10,10);
  cursor: pointer;
}

#contacttext > a {
  text-decoration: underline;
  color: #ffbd4d;
  cursor: pointer;
}

footer {
  margin: 20px;
  margin-left: 90px;
}

#footerlogo {
  width: 50px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;

::-webkit-scrollbar-thumb {
  background: transparent;
}
