/* COLOUR PALETTE
WHITE BACKGROUND: rgb(252, 252, 252)
BLUE TEXT H2: rgba(21, 62, 172, 1)
RED TEXT H1: rgb(238, 0, 0)
DARK GRAY TEXT P: rgb(50, 50, 50)
LINES BORDERS GRAY: rgba(0, 0, 0, 0.2)
#/

/* GENERAL */
body {
  background-color: rgb(252,252,252);
  margin: 0;
  height: 100vw;
  padding: 0 15vw;
  width: 70vw;
  display: table-cell;
  scroll-behavior: smooth;
  vertical-align: middle;
  overflow-x: hidden;
  max-width: 1280px;
}

html {
  display: table;
  margin: 0;
  width: 100vw;
}

hr {
  width: 70vw;
  margin: 0;
  padding: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

h1 {
  color: rgb(238,0,0);
  font-family: 'Lexend Zetta','ZCOOL XiaoWei', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 2vw;
  margin: 0;
}

a {
  color: inherit;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
}

* {
  scroll-behavior: smooth;
}

p {
  color: rgb(50, 50, 50);
  font-family: 'Rubik', sans-serif;
  letter-spacing: 1px;
  font-size: 1vw;
}

i {
  transition: color 0.1s;
}

.headerwrap {
  width: 70vw;
  clear: both;
}

h1.intro {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0.05vw;
  font-size: 2vw;
}

h1.intro > i {
  font-style: normal;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-skip-ink: none;
  text-decoration-color: rgba( 21, 62, 172, 1);
}

h1.intro a {
  color: rgba( 21, 62, 172, 1);
}

h1.intro a:hover {
  animation: email 1s;
}

@keyframes email {
  0vw {
    color: rgba( 21, 62, 172, 1);
  }
  40vw {
    color: #ee0000;
  }
  100vw {
    color: rgba( 21, 62, 172, 1);
  }
}

h1.title {
  width: 50vw;
  height: auto;
  float: left;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

.imgwrap {
  display: table;
  float: left;
  height: auto;
  width: inherit;
  padding: 5vh 0;
}

.descrwrap {
  padding: 0 0 8vh 15vw;
}

.introwrap1 {
  height: auto;
  width: 30vw;
  display: table-cell;
  vertical-align: top;
  padding: 0;
  margin: 0;
}

.introwrap2 {
  padding-left: 2vw;
  padding-top: 0;
  margin: 0;
  height: auto;
  width: 30vw;
  display: table-cell;
  vertical-align: top;
}

.gallerywrap {
  width: 70vw;
  display: table;
  float: left;
  height: auto;
  padding: 1vh 0;
}

.picwrap1 {
  padding: 0;
  margin: 0;
  height: auto;
  width: 30vw;
  display: table-cell;
  vertical-align: top;
}

.picwrap2 {
  padding-left: 2vw;
  padding-top: 0;
  margin: 0;
  height: auto;
  width: 30vw;
  display: table-cell;
  vertical-align: top;
}

.centred-wide {
  width: 70vw;
  text-align: center;
}

p.caption {
  color: rgba(50, 50, 50,0.8);
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.05vw;
  font-size: 1vw;
  font-weight: 400;
  font-style: none;
  padding: .5vh 0 0 0;
  margin: 0;
  line-height: 2vh;
}

h2 {
  color: rgba( 21, 62, 172, 1);
  font-family: 'Rubik', 'ZCOOL XiaoWei', sans-serif;
  font-size: 1.1vw;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.05vw;
  margin: 0;
  padding-top: 1vh;
}

/* different font for mandarin */
@font-face {
  font-family: 'ZCOOL XiaoWei';
  src: url('https://fonts.gstatic.com/s/zcoolxiaowei/v5/i7dMIFFrTRywPpUVX9_RJyM1YFf4BQ6OHB3qE7y2ys6XIzxYv88CVLJlObJGMqmkzaJnjA.6.woff2') format('woff2');
  unicode-range: U+4E00-9FFF;
}

ul {
  font-size: 1vw;
  font-family: 'Rubik', sans-serif;
  list-style-type: none;
  letter-spacing: 1px;
  color: rgba(50, 50, 50,0.6);
  font-family: 'Rubik', sans-serif;
  text-transform: none;
  padding: 0 0 0 40px;
  margin: 10px 0 15px 0;
}

ul > li {
  list-style-type: disc;
  list-style-position: outside;
  display: list-item;
  color: rgb(50, 50, 50);
  font-family: 'Rubik', sans-serif;
  font-size: 1vw;
  line-height: 1.5vh;
  font-weight: 300;
  padding: 0 0 0.7vh 0;
  margin: 0;
}

ul > li, ul > li:active {
  color: inherit;
}

.skills-bullets li {
  padding-bottom: 1vh;
}

.picwrap2 a {
  margin: 0;
  padding: 0;
}

.port-hover {
  text-decoration: none;
  position: relative;
  padding-bottom: 1vh;
  margin-bottom: 1vh;
}

.port-hover h2 {
  color: rgba( 21, 62, 172, 1);
  transition: color 0.4s;
}

.port-hover:hover > h2 {
  color: rgb(238,0,0);
}

.port-hover span {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  opacity: 0;
  border-bottom: 2px solid rgb(238,0,0);
  transition: width 0.6s, opacity 0.4s;
}

.port-hover:hover > span {
  width: 30vw;
  opacity: 1;
}

.video {
  width: 33.5vw;
  height: 25vh;
  margin: 0;
  padding: 0;
}

.fullvideo {
  width: 70vw;
  height: 50vh;
  margin: 0;
}

.pic, img {
  padding: 0;
  margin: 0;
  width: inherit;
  height: auto;
}

.gallerywrap img {
  width: 100%;
}

.inline-link {
  text-decoration: underline;
  transition: color 0.3s;
}

.inline-link:hover, i:hover {
  text-decoration: underline;
  color: rgb(238,0,0);
}

/* GWDF Book Thing */

.book-container {
  width: 70vw;
  z-index: 1;
  perspective: 3000px;
}

.book-container .book {
  position: relative;
  display: block;
  border-radius: 2px 4px 4px 2px;
  -webkit-box-shadow: 18px 15px 15px 5px rgba(151, 146, 153, 0.6);
  -moz-box-shadow: 18px 15px 15px 5px rgba(151, 146, 153, 0.6);
  box-shadow: 18px 15px 15px 5px rgba(151, 146, 153, 0.6);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  transition: transform .5s;
}

.ghost {
  width: 550px;
  height: 547px;
  background: linear-gradient(45deg, #907ab2 10vw, #000000 100vw);
}

.ghost-spacing {
  margin: 7vh 15vw;
}

.aspect {
  width: 400px;
  height: 577px;
  background: linear-gradient(45deg, #b2a710 0vw, #000000 50vw);
}

.aspect-spacing {
  margin: 60px 300px 60px 390px;
}

.edge {
  width: 420px;
  height: 594px;
  background: linear-gradient(45deg, #021b64 20vw, #000000 100vw);
}

.edge-spacing {
  margin: 60px 310px 60px 380px;
}

.book-container .book:hover {
  -webkit-transform: rotate3d(0, 1, 0, 35deg);
  -moz-transform: rotate3d(0, 1, 0, 35deg);
  transform: rotate3d(0, 1, -0.1, 30deg);
}

.book-container .book>div, .book-container .front>div {
  display: block;
  position: absolute;
}

.book-container .front {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0vw 50vw;
  -moz-transform-origin: 0vw 50vw;
  transform-origin: 0vw 50vw;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  transition: transform .5s;
  -webkit-transform: translate3d(0, 0, 20px);
  -moz-transform: translate3d(0, 0, 20px);
  transform: translate3d(0, 0, 20px);
  z-index: 10;
}

.book-container .front>div {
  border-radius: 0 3px 3px 0;
  box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.book-container .front:after {
  content: '';
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: -1px;
  width: 1px;
}

.book-container .cover:after {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 3px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

/* WEBSITES DISPLAY */

.website-display {
  border: none;
  padding: 5vh 0;;
}

.zoom {
  width: 70vw;
  height: 70vh;
}

.jojo {
  width: 70vw;
  height: 50vh;
}

.presentation {
  width: 50vw;
  margin: 0 10vh;
  border: 3px rgba(0,0,0, 0.9);
}

button {
  animation: all 0.3s;
}

.presentation-button {
  width: 25vw;
  color: rgba( 21, 62, 172, 1);
  background: rgba( 0,0,0, 0.1);
  border-width: 1px;
  border-color: rgba( 0,0,0, 0.2);
  animation: all 0.3s;
}

.presentation-button:hover {
  color: rgb(238,0,0);
  background: rgba( 0,0,0, 0.15);
}

.presentation-button:active, .presentation-button:focus,
.presentation-button:target, {
  color: rgb(238,0,0);
  border-color: rgb(238,0,0);
  background: rgba( 0,0,0, 0.15);
}



/* FOOTER */
footer {
  width: inherit;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;

::-webkit-scrollbar-thumb {
  background: transparent;
}



/* MOBILE MEDIA QUERIES */
